<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"
        href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="shortcut icon" href="./images/user.png" type="image/x-icon">
    <link rel="stylesheet" href="./stiles/stile2.css">
    <link rel="stylesheet" href="./stiles/stile1.css">
    <title>My Acounts | Bank</title>
</head>
<body>
    <canvas id="particle-canvas"></canvas>
    <div id="app">
        <div class="modifi">
            <nav class="main-menu">
                <div class="scrollbar " id="style-1">
                    <ul>
                        <li class="mt-2 pb-3">
                            <i class="fa fa-lg"><img src="./images/budget.png" alt=""></i>
                            <span class="nav-text">Accounts</span>
                        </li>
                        <li class="mt-2 pb-3">
                            <i class="fa fa-lg"><img src="./images/tarjeta-de-credito.png" alt=""></i>
                            <span class="col nav-text">Cards</span>
                        </li>
                        <li class="mt-2 pb-3">
                            <i class="fa fa-lg"><img src="./images/inversion.png" alt=""></i>
                            <span class="nav-text">Investments</span>
                        </li>
                        <li class="mt-2 pb-3">
                            <i class="fa fa-lg"><img src="./images/transaction.png" alt=""></i>
                            <span class="nav-text">Transactions</span>
                        </li>
                        <li class="mt-2 pb-3">
                            <i class="fa fa-lg"><img src="./images/skills.png" alt=""></i>
                            <span class="nav-text">Settings</span>
                        </li>
                    </ul>
                </div>
            </nav>
            <div>
                <h1 class="m-2"><img class="me-3 mb-2" src="./images/user.png" alt="user">{{data.firstName}} {{data.lastName}}</h1>
                <section>
                    <h2>Accounts</h2>
                    <div v-if="data" class="accounts" v-for="cuenta of data.accounts">
                        <p>N° account: {{cuenta.number.toUpperCase()}}</p>
                        <p>Creation Date: {{cuenta.creationDate.split("T")[0]}}</p>
                        <p>Money: ${{cuenta.balance}}</p>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/animations.js"></script>
    <script src="./js/account.js"></script>
</body>

</html>