<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="shortcut icon" href="./images/icons/Logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="./stiles/style.css">
    <title>My Accounts | Diamond Bank</title>
</head>
<body class="image_day">
    <div id="app">
        <header  class="p-2">
            <div class="d-flex container_icon_nav">
                <img class="icon-nav" src="./images/icons/menu-1-svgrepo-com.svg" @click="navShow(true)" alt="buttonNav">
            </div>
            <div class="title d-flex align-items-center">
                <img class="logo" src="./images/icons/Logo.svg" alt="logo">
                <h1 v-show="title" class="ms-2">Diamond Bank</h1>
            </div>
            <div class="d-flex container_icon_exit">
                <img @click="logout" class="icon_exit mb-2" src="./images/icons/exit-door.png" alt="logout">
            </div>
        </header>
        <nav v-show="navbar" class="sidebar">
            <section class="ps-3">
                <div class="d-flex align-items-center justify-content-between p-1">
                    <img class="avatar" src="./images/clientsimages/account-avatar-profile-user-8-svgrepo-com.svg" alt="avatar">
                    <img class="icon-exit-nav" src="./images/icons/cross-circle-svgrepo-com.svg" alt="exitNav" @click="navShow(false)">
                </div>
                <h4 class="m-2 text-bottom">{{data.firstName}} {{data.lastName}}</h4>
                <p class="m-2">{{data.email}}</p>
            </section>
            <ul>
                <li onclick="location.href='#'">
                    <img class="icons" src="images/icons/wallet.svg" alt="accounts"> 
                    <span>Accounts</span>
                </li>
                <li onclick="location.href='./cards.html'">
                    <img class="icons" src="images/icons/credit-card.svg" alt="cards">
                    <span>Cards</span>
                </li>
                <li onclick="location.href='./transfers.html'">
                    <img class="icons" src="images/icons/finance.svg" alt="transfers">
                    <span>Transactions</span>
                </li>
                <li onclick="location.href='./loan-application.html'">
                    <img class="icons" src="images/icons/transaction.svg" alt="loans">
                    <span>Loans</span>
                </li>
                <li onclick="location.href='#'">
                    <img class="icons" src="images/icons/money.svg" alt="invertments">
                    <span>Invertments</span>
                </li>
                <li onclick="location.href='#'">
                    <img class="icons" src="images/icons/settings.svg" alt="settings">
                    <span>Setting</span>
                </li>
                <li onclick="location.href='#'">
                    <img class="icons" src="images/icons/help.svg" alt="help">
                    <span>Help</span>
                </li>
            </ul>
        </nav>
        <main>
            <section class="d-flex justify-content-evenly align-items-center">
                <h2 class="m-3 text-center">Accounts</h2> 
                <button v-show="data.accounts.length<3" class="btn btn-dark" @click="newAccount">New Account</button>
            </section>
            <div class="d-flex flex-wrap justify-content-evenly">
                <template v-if="data">
                <div class="account m-3 d-flex flex-column justify-content-evenly" v-for="account of data.accounts">
                    <div class="d-flex justify-content-between">
                        <h6 class="ms-3 mt-3">My Balance:</h6><button type="button" class="me-3 button_form"><img src="./images/icons/three-dots.svg" alt=""></button>
                    </div>
                    <h1 class="text-center">{{account.balance.toLocaleString('de-DE', { style: 'currency', currency: 'USD' })}}</h1>
                    <h5 class="ms-3">Account: {{account.number.toUpperCase()}}</h5>
                    <h5 class="ms-3">Created: {{account.creationDate.split("T")[0]}}</h5>
                    <div class="d-flex justify-content-evenly">
                        <a :href="'./account.html?id=' + account.id"><button class="button_transaction">Transactions</button></a><button type="button" class="button_invest">Investments</button>
                    </div>
                </div>
                </template>
            </div>
            <div class="loans d-flex justify-content-center">
                <template v-if="data.loans.length>0">
                    <table class="table m-2">
                        <thead class="text-center">
                            <th>Loans Type</th>
                            <th>N° Payments</th>
                            <th>Amount</th>
                        </thead>
                        <tbody>
                            <tr v-for="loan in data.loans" class="text-light text-center">
                                <td>{{loan.name}}</td>
                                <td>{{loan.payments}}</td>
                                <td>{{loan.amount.toLocaleString('de-DE', { style: 'currency', currency: 'USD' })}}</td>
                            </tr>
                        </tbody>
                    </table>
                </template>
                <div v-else class="text_loans d-flex flex-column align-items-center justify-content-center container m-2">   
                    <h5 class="text-center pt-4">You do not have attached loans, if you want you can make the request by clicking on the following button.</h5>
                    <button type="button" class="btn btn-dark">Loans</button>
                </div>
            </div>
        </main>
        <footer>
            <div class="ps-4 pe-4 pt-2 d-flex justify-content-between align-items-center flex-wrap">
                <section>
                    <h5>Contact:</h5>
                    <ul>
                        <li>Number Phone: +00111518</li>
                        <li>Email: </li>
                        <li>Direction:</li>
                        <li></li>
                    </ul>
                </section>
                <section>
                    <h5>Contact:</h5>
                    <ul>
                        <il></il>
                        <il></il>
                        <il></il>
                        <il></il>
                    </ul>
                </section>
            </div>
            <hr class="m-0">
            <div class="flex-wrap d-flex justify-content-between align-items-center ps-4 pe-4">
                <h6>Developer: Mauricio Mores</h6> 
                <div class="d-flex justify-content-evenly">
                    <a class="icon-footer1 m-2" href="https://ar.linkedin.com/"><img class="icons" src="./images/iconsPAg/linkedin-svgrepo-com.svg" alt="linkedin"></a>
                    <a class="icon-footer2 m-2" href="https://github.com/MauMor13"><img class="icons" src="./images/iconsPAg/github-svgrepo-com.svg" alt="github"></a>
                    <a class="icon-footer3 m-2" href="https://www.instagram.com/"><img class="icons" src="./images/iconsPAg/instagram-svgrepo-com.svg" alt="instagram"></a>
                    <a class="icon-footer4 m-2" href="https://es-la.facebook.com/"><img class="icons" src="./images/iconsPAg/facebook-svgrepo-com.svg" alt="facebook"></a>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/accounts.js"></script>
</body>
</html>
