<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="shortcut icon" href="./images/icons/Logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="./stiles/style.css">
    <title>My Movements | Diamond Bank</title>
</head>

<body class="image_day">
    <div id="app" class="content">
        <div class="d-flex container_select">
            <img @click="logout" class="icon_help mb-2" src="./images/icons/exit-exit-svgrepo-com.svg" alt="logout">
        </div>
        <img class="icon-nav" src="./images/icons/flecha.svg" alt="buttonNav">
        <nav v-show="!navbar" class="sidebar">
            <section class="ms-3 section-nav">
                <div class="d-flex align-items-center p-1">
                    <img class="avatar" src="./images/clientsimages/account-avatar-profile-user-8-svgrepo-com.svg"
                        alt="avatar">
                    <h5 class="ms-2 text-bottom">{{data.firstName}} {{data.lastName}}</h5>
                </div>
                <p>{{data.email}}</p>
                <p>direccion</p>
            </section>
            <ul>
                <li onclick="location.href='./accounts.html'">
                    <img class="icons" src="images/icons/wallet.svg" alt="accounts">
                    <span>Accounts</span>
                </li>
                <li onclick="location.href='./cards.html'">
                    <img class="icons" src="images/icons/credit-card.svg" alt="cards">
                    <span>Cards</span>
                </li>
                <li onclick="location.href='./transfers.html'">
                    <img class="icons" src="images/icons/finance.svg" alt="transfers">
                    <span>Transactions</span>
                </li>
                <li onclick="location.href='#'">
                    <img class="icons" src="images/icons/transaction.svg" alt="loans">
                    <span>Loans</span>
                </li>
                <li onclick="location.href='#'">
                    <img class="icons" src="images/icons/money.svg" alt="invertments">
                    <span>Invertments</span>
                </li>
                <li onclick="location.href='#'">
                    <img class="icons" src="images/icons/settings.svg" alt="settings">
                    <span>Setting</span>
                </li>
                <li onclick="location.href='#'">
                    <img class="icons" src="images/icons/help.svg" alt="help">
                    <span>Help</span>
                </li>
            </ul>
        </nav>
        <main>
            <section class="d-flex align-items-center justify-content-center p-2">
                <img class="logo" src="./images/icons/Logo.svg" alt="logo">
                <h1 v-show="!title" class="ms-2">Diamond Bank</h1>
            </section>
            <h2 class="text-center">Transactions</h2>
            <div class="p-4 d-flex justify-content-center text-light">
                <table class="table">
                    <thead>
                        <th>Type</th>
                        <th v-show="!title">Description</th>
                        <th>Date</th>
                        <th>Amount</th>
                    </thead>
                    <tbody>
                        <template v-if="account">
                            <tr v-for="transaction in account.transaction">
                                <td :class="[transaction.type === 'CREDIT' ? 'text-success' : 'text-danger']">
                                    {{transaction.type}}</td>
                                <td v-show="!title" class="text-light">{{transaction.description}}</td>
                                <td class="text-light">{{transaction.date.split("T")[0]}}</td>
                                <td class="text-light">$ {{transaction.amount.toLocaleString('de-DE', { style:
                                    'currency', currency: 'USD' })}}</td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/account.js"></script>
</body>

</html>