<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="shortcut icon" href="./images/icons/Logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="./stiles/style.css">
    <title>Generate New Transfers | Diamond Bank</title>
</head>
<body class="image_day">
    <div id="app">
        <header  class="p-2">
            <div class="d-flex container_icon_nav">
                <img class="icon-nav" src="./images/icons/menu-1-svgrepo-com.svg" @click="navShow(true)" alt="buttonNav">
            </div>
            <div class="title d-flex align-items-center">
                <img class="logo" src="./images/icons/Logo.svg" alt="logo">
                <h1 v-show="title" class="ms-2">Diamond Bank | New Transfers</h1>
            </div>
            <div class="d-flex container_icon_exit">
                <img @click="logout" class="icon_exit mb-2" src="./images/icons/exit-door.png" alt="logout">
            </div>
        </header>
        <template v-if="navbar">
            <nav class="sidebar">
                <section class="ps-3">
                    <div class="d-flex align-items-center justify-content-between p-1">
                        <img class="avatar" :src="'./images/clientsimages/avatar'+avatarImg+'.svg'" alt="avatar">
                        <img class="icon-exit-nav" src="./images/icons/cross-circle-svgrepo-com.svg" alt="exitNav"
                            @click="navShow(false)">
                    </div>
                    <h4 class="m-2 text-bottom">{{data.firstName}} {{data.lastName}}</h4>
                    <p class="m-2">{{data.email}}</p>
                </section>
                <ul>
                    <li onclick="location.href='./accounts.html'">
                        <img class="icons" src="images/icons/wallet.svg" alt="accounts">
                        <span>Accounts</span>
                    </li>
                    <li onclick="location.href='./cards.html'">
                        <img class="icons" src="images/icons/credit-card.svg" alt="cards">
                        <span>Cards</span>
                    </li>
                    <li onclick="location.href='#'">
                        <img class="icons" src="images/icons/finance.svg" alt="transfers">
                        <span>Transactions</span>
                    </li>
                    <li onclick="location.href='./loan-application.html'">
                        <img class="icons" src="images/icons/transaction.svg" alt="loans">
                        <span>Loans</span>
                    </li>
                    <li onclick="location.href='./setting.html'">
                        <img class="icons" src="images/icons/settings.svg" alt="settings">
                        <span>Setting</span>
                    </li>
                    <li onclick="location.href='./help.html'">
                        <img class="icons" src="images/icons/help.svg" alt="help">
                        <span>Help</span>
                    </li>
                </ul>
            </nav>
        </template>
        <main class="p-4 d-flex flex-wrap justify-content-evenly align-items-center text-light">
            <div class="mt-4 d-flex justify-content-center">
                <div class="form-transfer">
                    <select  class="m-2 form-select form-select-sm" v-model="numAccountOrigin" aria-label=".form-select-sm example">
                        <option selected>Select you account</option>
                        <option v-for="account of data.accounts" :value="account.number">{{account.number}}</option>
                    </select>
                    <div class="form-check">
                        <input class="form-check-input" type="radio"  @click="show='own'" name="inputRadio"
                            id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Transfer to own account
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" @click="show='third'" name="inputRadio"
                            id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Transfer to third party accounts
                        </label>
                    </div>
                    <select v-show="show=='own'" class="m-2 form-select form-select-sm" v-model="numAccountDestini"  @click="filterAccounts" aria-label=".form-select-sm example">
                        <option selected>Select account</option>
                        <option v-for="account of accounts" :value="account.number">{{account.number}}</option>
                    </select>
                    <div v-show="show=='third'" class=" row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Enter account</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="numAccountDestini" id="inputPassword">
                        </div>
                    </div>
                    <div class="m-2 row">
                        <label for="inputAmount" class="col-sm-2 col-form-label">Amount</label>
                        <div class="col-sm-10">
                            <input type="number" v-model="amount" class="form-control" id="inputAmount" >
                        </div>
                    </div>
                    <p>Description</p>
                    <div class="m-3 form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here"
                            id="floatingTextarea" v-model="description"></textarea>
                        <label for="floatingTextarea">Comments</label>
                    </div>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                        Transfer Money
                    </button>
                </div>
            </div>
            <!--modal-->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-dark">
                            Are you sure to make the following transfer?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @click="newTransfer">Transfer</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer >
            <div class="container">
                <div class="ps-4 pt-4 pe-4 row justify-content-center">
                    <section id="contact" class="col-md-4 col-lg-4 col-sm-12">
                        <h5>Contact</h5>
                        <ul>
                            <li>Phones:<a class="enlace" href="tel:+15426978"> +15426978</a></li>
                            <li>Email:<a class="enlace" href="mailto:diamonBank@gmail.com"> diamonBank@gmail.com</a></li>
                            <li>Direction:<a class="enlace" href="https://goo.gl/maps/JJpD1vs6fL2ZNs8v6"> Gral, Viamonte 1185, Bs. As.</a></li>
                        </ul>
                    </section>
                    <section class="col-md-4 col-lg-4 col-sm-6">
                        <h5>Social Networks</h5>
                        <ul>
                            <li>Facebook: <a class="enlace" href="https://es-la.facebook.com/">Diamond Bank</a></li>
                            <li>Twitter: <a class="enlace" href="https://twitter.com/?lang=es">@DiamondBank_</a></li>
                            <li>Instagram: <a class="enlace" href="https://www.instagram.com/">@diamondbank</a></li>
                            <li>LinkedIn: <a class="enlace" href="https://ar.linkedin.com/">Diamond Bank</a></li>
                        </ul>
                    </section>
                    <section class="col-md-4 col-lg-4 col-sm-6">
                        <h5>Join Us</h5>
                        <ul>
                            <li><a class="enlace" href="mailto:diamonBank@gmail.com">Credit Analyst</a></li>
                            <li><a class="enlace" href="mailto:diamonBank@gmail.com">Investment Specialist</a></li>
                            <li><a class="enlace" href="mailto:diamonBank@gmail.com">Compliance Officer</a></li>
                            <li><a class="enlace" href="mailto:diamonBank@gmail.com">Financial Data Analyst</a></li>
                            <li><a class="enlace" href="mailto:diamonBank@gmail.com">Risk Analyst</a></li>
                        </ul>
                    </section>
                </div>
            </div>
            <hr class="m-0">
            <div class="container">
                <div class="row justify-content-between align-items-center ps-4 pe-4">
                    <h6 class="col text-center">Developer: Mauricio Mores</h6>
                    <div class="col d-flex justify-content-evenly">
                        <a class="icon-footer1 m-2" href="https://ar.linkedin.com/"><img class="icons"
                                src="./images/iconsPAg/linkedin-svgrepo-com.svg" alt="linkedin"></a>
                        <a class="icon-footer2 m-2" href="https://github.com/MauMor13"><img class="icons"
                                src="./images/iconsPAg/github-svgrepo-com.svg" alt="github"></a>
                        <a class="icon-footer3 m-2" href="https://www.instagram.com/"><img class="icons"
                                src="./images/iconsPAg/instagram-svgrepo-com.svg" alt="instagram"></a>
                        <a class="icon-footer4 m-2" href="https://es-la.facebook.com/"><img class="icons"
                                src="./images/iconsPAg/facebook-svgrepo-com.svg" alt="facebook"></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/transfers.js"></script>
</body>
</html>
