:root{
    --color-major:#304A6E;
    --color-secondary:#668DC0;
    --color-neutral:#C2C6CE;
    --color-dark:#0F1C30;
    --color-light:#C0D0EF;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size:1rem;
    color: black;
    font-family: "Open Sans", arial;
}
/* ScrolBar  */
.scrollbar {
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}
.scrollbar:hover {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
/* Scrollbar Style */
#style-1::-webkit-scrollbar-track {
    border-radius: .3rem;
}
#style-1::-webkit-scrollbar {
    width: 5px;
    background-color: white;
}
#style-1::-webkit-scrollbar-thumb {
    border-radius: 7px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #0F1C30;
}
/* Scrollbar End */
.fa-lg {
    font-size: 1em;
}
.fa {
    position: relative;
    display: table-cell;
    width: 55px;
    height: 36px;
    text-align: center;
    top: 12px;
    font-size: 20px;
}
.main-menu:hover,nav.main-menu.expanded {
    width: 12rem;
    overflow: hidden;
    opacity: 1;
}
.main-menu {
    position: sticky;
    top: 25vh;
    border-radius:.5rem;
    height: 19rem;
    background:var(--color-secondary) ;
    width: 55px;
    z-index: 100;
    overflow: hidden;
    transition: width .2s linear;
    transform: translateZ(0) scale(1, 1);
}
.main-menu li {
    position: relative;
    display: block;
    width: 250px;
    cursor: pointer;
}
.main-menu .nav-text {
    position: relative;
    display: table-cell;
    vertical-align:bottom;
    width: 190px;
    font-family: 'Titillium Web', sans-serif;
}
.no-touch .scrollable.hover {
    overflow-y: hidden;
}
.no-touch .scrollable.hover:hover {
    overflow-y: auto;
    overflow: visible;
}
nav ul,
nav li {
    outline: 0;
    padding: 0rem;
    text-transform: uppercase;
}

/* Darker element side menu End*/
li:hover{
    color: black;
    border-radius: .3rem;
    background-color:#304a6e6b;
}
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}
