:root{
    --color-major:#304A6E;
    --color-secondary:#668DC0;
    --color-neutral:#C2C6CE;
    --color-dark:#0F1C30;
    --color-light:#C0D0EF;
}
.logo{
    position: sticky;
    top: 1rem;
    margin-top:1rem ;
    margin-left: 1rem;
    width: 5rem;
    height: 5rem;
}
/*acordion de cuentas*/
.accordion-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: .5rem;
    max-width: 20rem;
    min-height: 10rem;
    background: #c0d0ef8e;
    padding: .5rem;
}
.content-accordion{
    max-width: 35rem;
    background: #c0d0ef8e;
    border-radius: .5rem;
    margin-bottom: 1rem;
    text-align: center;
}
.accordion{
    margin-top: 2rem;
}
.grapic{
    max-width: 20rem;
}
